*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100vw;
  height: 100vh;

  font-family: "Uni", sans-serif;
  font-size: 14px;
  font-weight: 100;

  margin: 0;
}

html {
  box-sizing: border-box;

  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII="),
    auto;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 10px;
  padding-right: 10px;
}

.video_wrapper {
  position: relative;

  display: block;

  width: 100%;
  max-width: 560px;

  color: #f78cd1;

  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000;
  background-color: #ffffff;

  border-color: #000000;
  border-style: solid;
  border-width: 4px;

  padding: 2rem 1.5rem;
}

.video_wrapper > h3 {
  position: absolute;

  top: -2rem;
  left: 1.5rem;

  display: inline-block;

  font-size: 2rem;
  line-height: 3rem;
  background-color: #ffffff;

  margin: 0;
  padding: 0 0.5rem;
}

.video_wrapper > iframe {
  width: 100%;

  margin-bottom: 25px;
}

.buttons_wrapper {
  display: flex;
  justify-content: space-around;
}

.buttons_wrapper > button:not(:last-child) {
  margin-right: 10px;
}

@media (min-width: 375px) {
  .buttons_wrapper > button:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .video_wrapper {
    padding: 1.5rem 2rem;
  }
}
