:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --dark-color: #212529;
  --pink-color: #f78cd1;
  --shadow-color: #adafbc;
  --hover-color: #e7e7e7;
}

*,
*::before,
*::after {
  box-sizing: inherit;

  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

html,
body {
  width: 100vw;
  height: 100vh;

  font-family: "Uni", sans-serif;
  font-size: 14px;
  font-weight: 100;

  margin: 0;
}

html {
  box-sizing: border-box;

  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII="),
    auto;
}

body {
  background-color: var(--white-color);
  color: var(--dark-color);

  -webkit-font-smoothing: antialiased;

  padding-left: 10px;
  padding-right: 10px;
}

html.is-dark body {
  background-color: var(--dark-color);
  color: var(--white-color);
}

label {
  cursor: inherit;
}

a,
button {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC")
    pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
}

/* Prevent stray pixels on focused inputs such as checkboxes and radios */
input[type="radio"],
input[type="checkbox"] {
  outline: 0;
}

.header {
  display: flex;
  justify-content: flex-end;

  min-height: 50px;
}

.header__theme-container {
  display: flex;

  border-left: 4px solid var(--dark-color);
  border-right: 4px solid var(--dark-color);
  border-bottom: 4px solid var(--dark-color);
}

html.is-dark .header__theme-container {
  border-color: var(--shadow-color);
}

.header__theme-label {
  width: 100px;
  max-width: 200px;

  background-color: var(--white-color);

  padding: 1rem 0;
}

.header__theme-label--dark {
  background-color: var(--dark-color);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: calc(100% - 50px); /* 50px - header height */
}

.visibility-hidden {
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}

.video_wrapper {
  position: relative;

  display: block;

  width: 100%;
  max-width: 560px;

  color: var(--pink-color);

  text-shadow: -1px -1px 0 var(--black-color), 1px -1px 0 var(--black-color),
    -1px 1px 0 var(--black-color), 1px 1px 0 var(--black-color);
  background-color: var(--white-color);

  border-color: var(--black-color);
  border-style: solid;
  border-width: 4px;

  padding: 2rem 1.5rem;
}

html.is-dark .video_wrapper {
  text-shadow: -1px -1px 0 var(--white-color), 1px -1px 0 var(--white-color),
    -1px 1px 0 var(--white-color), 1px 1px 0 var(--white-color);
  background-color: var(--dark-color);

  border-color: var(--white-color);
}

.video_wrapper > h3 {
  position: absolute;

  top: -2rem;
  left: 1.5rem;

  display: inline-block;

  font-size: 2rem;
  line-height: 3rem;

  background-color: var(--white-color);

  margin: 0;
  padding: 0 0.5rem;
}

html.is-dark .video_wrapper > h3 {
  background-color: var(--dark-color);
}

.video_wrapper > iframe {
  width: 100%;

  margin-bottom: 25px;
}

.buttons_wrapper {
  display: flex;
  justify-content: space-around;
}

.buttons_wrapper > button:not(:last-child) {
  margin-right: 10px;
}

@media (min-width: 375px) {
  .buttons_wrapper > button:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .video_wrapper {
    padding: 1.5rem 2rem;
  }
}
